---
http_interactions:
- request:
    method: get
    uri: http://api.urlvoid.com/api1000/test_key/host/google.com/newscan/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
        <details>
         <host>google.com</host>
         <updated>1486675618</updated>
         <http_response_code>0</http_response_code>
         <domain_age>874296000</domain_age>
         <google_page_rank>0</google_page_rank>
         <alexa_rank>0</alexa_rank>
         <connect_time>0</connect_time>
         <header_size>0</header_size>
         <download_size>0</download_size>
         <speed_download>0</speed_download>
         <external_url_redirect></external_url_redirect>
         <ip>
        <addr>216.58.198.206</addr>
        <hostname>par10s27-in-f14.1e100.net</hostname>
        <asn>15169</asn>
        <asname>Google Inc.</asname>
        <country_code>US</country_code>
        <country_name>United States</country_name>
        <region_name>California</region_name>
        <city_name>Mountain View</city_name>
        <continent_code>NA</continent_code>
        <continent_name>North America</continent_name>
        <latitude>37.4192</latitude>
        <longitude>-122.057</longitude>
         </ip>
        </details>
        <page_load>0.01</page_load>
        </response>
  recorded_at: Thu, 09 Feb 2017 21:30:20 GMT
recorded_with: VCR 3.0.3
